---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  
  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      <li><a href="/categories/">Group posts by Category</a><li>
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  
  {%- endif -%}
  
  <h3>A quick list of some of the projects I have worked on </h3>
  <ul>
    <li><a href="https://shopaltmanplants.com/"> shopaltmanplants.com </a> </li>
    <li><a href="https://cactusshop.com">cactusshop.com</a></li>
    <li><a href="https://true-bloom.com/">True Bloom</a></li>
    <li><a href="https://alohahibiscusplants.com/"> Aloha Hibiscus Plants</a></li>
    <li><a href="http://anchorcommerce.com/">Anchor Commerce</a></li>
  </ul>
</div>
